<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="installation-page"><h3 id="requirements" id="requirements">Requirements</h3>
<ul>
<li>Install Node<ul>
<li>on OSX install <a href="http://brew.sh/">home brew</a> and type <code>brew install node</code></li>
<li>on Windows install <a href="https://chocolatey.org/">chocolatey</a> and type <code>choco install nodejs</code></li>
</ul>
</li>
<li>On OSX you can alleviate the need to run as sudo by <a href="https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md">following these instructions</a>. I highly recommend this step on OSX</li>
<li>Open terminal</li>
<li>Type <code>npm install -g gulp</code></li>
</ul>
<h3 id="installing-npm-dependencies" id="installing-npm-dependencies">Installing npm dependencies</h3>
<p>Open terminal and type :</p>
<pre><code>npm install
</code></pre><h3 id="installing-bower-dependencies" id="installing-bower-dependencies">Installing bower dependencies</h3>
<p>Open terminal and type :</p>
<pre><code>bower install
</code></pre><h3 id="running" id="running">Running</h3>
<pre><code>gulp
</code></pre><p>All gulp tasks are specify on <code>gulp-tasks</code> folder. Paths declared in gulp tasks are in <code>gulp.config.json</code> file.</p>
</div></div>
