<div class="top-bar">
    <a class="icon-keyboard-arrow-left" href="#/">Retour aux templates</a>
    <button translate ng-if="!updateMode" class="btn x-small-btn classic-btn" ng-disabled="htmlPasted === undefined || htmlPasted === ''" ng-click="saveHtml(false)">Save</button>
    <button translate ng-if="!updateMode" class="btn x-small-btn" ng-disabled="htmlPasted === undefined || htmlPasted === ''" ng-click="saveHtml(true)">Save and quit</button>
    <button translate ng-if="updateMode" class="btn x-small-btn classic-btn" ng-disabled="htmlPasted === undefined || htmlPasted === ''" ng-click="updateHtml(false)">Update</button>
    <button translate ng-if="updateMode" class="btn x-small-btn" ng-disabled="htmlPasted === undefined || htmlPasted === ''" ng-click="updateHtml(true)">Update and quit</button>
</div>
<div class="containerImportHtml">
    <div class="preview-html-pasted">
        <iframe id="preview-html-pasted" frameborder="0"></iframe>
    </div>
    <div>
        <div ui-codemirror="{ onLoad : codemirrorLoaded }" ng-model="htmlPasted" class="code-preview" ui-codemirror-opts="editorOptions"></div>
    </div>
</div>
