<div class="top-bar">
    <a class="icon-keyboard-arrow-left" href="#/" translate>Back to template choice</a>
    <button translate class="btn x-small-btn" ng-click="previewHTML()">Preview</button>
    <cm-drop-down>
        <button translate ng-click="saveOrUpdateDraft()" class="btn-dropDown">Save</button>
        <button class="btn-dropDown" ng-click="showMenuDropDown($event)">▾</button>
        <ul class="ul-reset">
            <li>
                <div translate
                class="menuAction"
                ng-click="createPrivTpl()">Save as new template</div>
                <div ng-if="enableUpdateBtnPrivTpl" translate
                class="menuAction"
                ng-click="udpatePrivTpl()">Update the template</div>
            </li>
        </ul>
    </cm-drop-down>
    <button translate class="btn x-small-btn validate-btn" ng-click="saveOrUpdateDraft(true)">Save and exit</button>
</div>
<cm-container-drag-drop obj="renderCode" activate-menu="isActivate"></cm-container-drag-drop>
<div class="container_editeur">
    <div class="layout-editeur editeur_layout" ng-click="hideWysToolbar()">
        <style id="toothpickGlobal">{{$root.toothpickGlobal}}</style>
        <style>{{$root.styleTpl}}</style>
        <!-- Use to override plugins css -->
        <style>{{$root.customGlobal}}</style>

        <div ng-class="{'empty-editeur' : emptyTpl, 'is-activate' : isActivate}" id="editeur_message" class="editeur_message">
            <div id="screenshotContainer">
                <table class="crunchGlobalWrapper" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="top">
                            <table class="crunchWrapper crunchWFull" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <div class="firstInclude" ng-include="'list.html'"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <pre ng-if="debug">{{renderCode}}</pre>
    <!-- Template -->
    <script type="text/ng-template" id="list.html">
        <ul dnd-list="renderCode"
            class="ul-reset list-element"
            dnd-external-sources="true"
            dnd-dragover="dragCallback(event, index, item)"
            dnd-drop="dropCallback(event, index, item, external, type)"
            dnd-inserted="insertedItem(event, item)"
            dnd-allowed-types="['container', 'placeholder']">
                <li ng-repeat="copyBlock in renderCode"
                class="{{copyBlock.classContainer}} type-{{copyBlock.type}}"
                dnd-draggable="copyBlock"
                dnd-effect-allowed="move"
                dnd-disable-if="!copyBlock.draggable || copyBlock.draggable === undefined || copyBlock.draggable === '' || copyBlock.draggable === null"
                dnd-type="copyBlock.type"
                dnd-dragstart="dragStart(event, index)"
                dnd-dragend="dragEnd(event)"
                dnd-moved="deleteElement(copyBlock, renderCode, true)"
                dnd-selected="models.selected = copyBlock"
                ng-class="{selected: models.selected === copyBlock}"
                ng-include="copyBlock.type + '.html'" cm-container-edit container="copyBlock" type="{{copyBlock.type}}">
                </li>
                <li class="dndPlaceholder"><div translate>Insert block or container</div></li>
        </ul>
    </script>

    <script type="text/ng-template" id="listNoDrop.html">
        <ul dnd-list="renderCode"
            class="ul-reset listNoDrop"
            dnd-external-sources="true"
            dnd-dragover="dragCallback(event, index, item)"
            dnd-drop="dropCallback(event, index, item, external, type)"
            dnd-inserted="insertedItem(event, item)"
            dnd-allowed-types="['item']"
            ng-class="{'empty' : renderCode.length === 0}">
            <li ng-repeat="copyBlock in renderCode"
                class="{{copyBlock.classContainer}} type-{{copyBlock.type}}"
                dnd-draggable="copyBlock"
                dnd-type="'{{copyBlock.type}}'"
                dnd-disable-if="!copyBlock.draggable || copyBlock.draggable === undefined || copyBlock.draggable === '' || copyBlock.draggable === null"
                dnd-dragstart="dragStart(event, index)"
                dnd-dragend="dragEnd(event)"
                data-type="{{copyBlock.editor_conf}}"
                dnd-moved="deleteElement(copyBlock, renderCode, true)"
                dnd-effect-allowed="move"
                data-multiimg="{{copyBlock.editor_conf == 'img' && renderCode.length > 1}}"
                dnd-selected="models.selected = copyBlock"
                ng-class="{selected: models.selected === copyBlock}"
                ng-include="copyBlock.type + '.html'">
            </li>
            <li class="dndPlaceholder"><div translate>Insert element </div></li>
        </ul>
    </script>

    <script type="text/ng-template" id="container.html">
        <div id="{{copyBlock.id}}" ng-class="copyBlock.divClass" style="{{copyBlock.style}}">
            <div class="container-name"></div>
            <table cellpadding="0" cellspacing="0" align="center" class="{{copyBlock.classContainer}} container-element" width="100%">
                <tr>
                    <ul class="ul-reset menu-element container-menu-element">
                        <li class="icon-open-with" title="Déplacer" ng-mouseenter="copyBlock.draggable = true" ng-mouseleave="copyBlock.draggable = false"></li>
                        <li class="btn-trash"><button title="Settings" class="editeurBtn icon-settings btn icon-alone"></button></li>
                        <li class="btn-trash"><button cm-confirm="{{'Are you sure you want to delete this container ?' | translate}}" title="Supprimer" class="editeurBtn icon-trashcan btn icon-alone" ng-click="deleteElement(copyBlock, renderCode, false)"></button></li>
                        <li class="btn-trash"><button title="Dupliquer" class="editeurBtn icon-queue btn icon-alone" ng-click="duplicate(copyBlock, renderCode, $index)"></button></li>
                        <!-- <li class="btn-trash"><button class="editeurBtn icon-save btn icon-alone" ng-click="saveBlock(copyBlock)"></button></li> -->
                    </ul>
                    <td valign="top">
                        <div ng-class="{'emptyDiv' : renderCode.length === 0}" id="{{renderCode.id}}" cm-check-ie check-ie-el="copyBlock" check-index="$index" class="outlineItemHover {{copyBlock.cellClasses[$index]}}" ng-repeat="renderCode in copyBlock.columns" ng-include="copyBlock.tplContainer + '.html'"></div>
                    </td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/ng-template" id="placeholder.html">
        <div id="{{copyBlock.id}}" class="usersContainer" ng-class="copyBlock.divClass" style="{{copyBlock.style}}">
            <table cellpadding="0" cellspacing="0" align="center" class="container-element" width="100%">
                <tr>
                    <td valign="top">
                        <div ng-class="{'emptyHeader' : !copyBlock.showHeader}" class="usersContainer" ng-include="copyBlock.subtype + '.html'"></div>
                    </td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/ng-template" id="item.html">
        <ul class="ul-reset menu-element menu-type-{{copyBlock.type}}">
            <li class="icon-open-with" ng-mouseenter="copyBlock.draggable = true" ng-mouseleave="copyBlock.draggable = false" title="Déplacer"></li>
            <li class="btn-trash"><button title="Supprimer" class="editeurBtn icon-trashcan btn icon-alone" ng-click="deleteElement(copyBlock, renderCode, false)"></button></li>
            <li class="btn-trash"><button title="Dupliquer" class="editeurBtn icon-queue btn icon-alone" ng-click="duplicate(copyBlock, renderCode, $index)"></button></li>
        </ul>
        <cm-wysiwyg item-tooth="copyBlock" conf-tooth="{{copyBlock.editor_conf}}" cm-dynamic="copyBlock.html"></cm-wysiwyg>
    </script>

    <script type="text/ng-template" id="header.html">
        <cm-wysiwyg conf-tooth="header" ng-if="$root.header.showHeader">
            <div class="crunchTac crunchMessageUsers messageHeader">
                <div style="display:none;font-size:1px;color:#FFFFFF;line-height:1px;font-family:14px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;">
                    {{$root.header.preHeaderText}}
                </div>
                <p ng-if="!$root.header.reverseHeader">
                    {{$root.header.headerText}} <a ng-click="$event.preventDefault()" href="WEB_VERSION_URL">{{$root.header.headerLinkText}}</a>
                </p>
                <p ng-if="$root.header.reverseHeader">
                    <a ng-click="$event.preventDefault()" href="WEB_VERSION_URL">{{$root.header.headerLinkText}}</a> {{$root.header.headerText}}
                </p>
            </div>
            <ul class="ul-reset menu-element container-menu-element">
                <li class="btn-trash"><button title="Settings" class="editeurBtn icon-settings btn icon-alone"></button></li>
            </ul>
        </cm-wysiwyg>
    </script>

    <script type="text/ng-template" id="footer.html">
        <cm-wysiwyg conf-tooth="footer">
            <div class="crunchTac crunchMessageUsers messageFooter">
                <p ng-if="$root.footer.footerExplanation" ng-bind-html="$root.footer.footerExplanation | convertBreakLine"></p>
                <p ng-if="!$root.footer.reverseFooter">
                    <a ng-click="$event.preventDefault()" href="UNSUBSCRIBE_URL">{{$root.footer.footerLinkText}}</a> {{$root.footer.footerText}}
                </p>
                <p>
                    <span ng-repeat="customLink in $root.footer.footerLinkCustomHtml">
                        <span ng-bind-html="customLink.element"></span>
                        <span ng-if="!$last"> | </span>
                    </span>

                </p>
                <p ng-if="$root.footer.reverseFooter">
                    {{$root.footer.footerText}} <a ng-click="$event.preventDefault()" href="UNSUBSCRIBE_URL">{{$root.footer.footerLinkText}}</a>
                </p>
                <p id="footerLogoSrc" class="type-item" ng-if="$root.footer.footerLogo">
                    <cm-wysiwyg item-tooth="{}" conf-tooth="img" cm-dynamic="$root.footer.footerLogoHtml.html"></cm-wysiwyg>
                </p>
                <p ng-if="$root.footer.footerAddress" ng-bind-html="$root.footer.footerAddress | convertBreakLine"></p>
            </div>
            <ul class="ul-reset menu-element container-menu-element">
                <li class="btn-trash"><button title="Settings" class="editeurBtn icon-settings btn icon-alone"></button></li>
            </ul>
        </cm-wysiwyg>
    </script>
</div>

<div class="sidebar-editeur">
    <v-tabs class="tabs-menu tabs-sidebar" horizontal active="tabsMenu.active">
        <v-tab ng-click="hideWysToolbar()" translate>Blocks</v-tab>
        <v-tab ng-click="hideWysToolbar()" translate>Colors</v-tab>
        <v-tab ng-click="hideWysToolbar()" translate>Styles</v-tab>
    </v-tabs>
    <v-pages class="tabs-content" active="tabsMenu.active">
      <v-page>
          <div class="blocks-list">
              <div cm-collapse>
                  <h3 class="title-collapse" translate>Containers</h3>
                  <div class="collapse-content">
                      <ul class="ul-reset col col3 colMarge">
                          <li
                          class="box"
                          ng-repeat="container in containers"
                          dnd-draggable="container"
                          dnd-type="container.type"
                          dnd-effect-allowed="copy">
                              <div>
                                  <img ng-src="{{container.icon}}"/>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div cm-collapse>
                  <h3 class="title-collapse" translate>Blocks</h3>
                  <div class="collapse-content">
                      <ul class="ul-reset col col3 colMarge">
                          <li
                          class="box"
                          ng-repeat="block in blocks"
                          dnd-draggable="block"
                          dnd-type="block.type"
                          dnd-effect-allowed="copy">
                              <div>
                                  <img ng-src="{{block.icon}}"/>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div cm-collapse ng-show="privateBlocks.length > 0">
                  <h3 class="title-collapse" translate>My Blocks</h3>
                  <div class="collapse-content">
                      <ul class="ul-reset col col3 colMarge">
                          <li
                              class="box"
                              ng-repeat="block in privateBlocks"
                              dnd-draggable="block"
                              dnd-type="block.type"
                              dnd-effect-allowed="copy">
                              <div>
                                  <img ng-src="{{block.icon}}"/>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div cm-collapse>
                  <h3 class="title-collapse" translate>Elements</h3>
                  <div class="collapse-content">
                      <ul class="ul-reset col col3 colMarge">
                          <li
                          class="box"
                          ng-repeat="block in toothElements"
                          dnd-draggable="block"
                          dnd-type="block.type"
                          dnd-effect-allowed="copy">
                              <div>
                                  <img ng-src="{{block.icon}}"/>
                              </div>
                          </li>
                      </ul>
                  </div>
                </div>
            </div>
      </v-page>
      <v-page>
          <cm-change-color-set></cm-change-color-set>
          <div ng-show="saveColorButton" class="btns saveColorBtns">
              <button translate class="btn x-small-btn validate-btn" ng-click="saveColorSet()">Save new palette</button>
          </div>
          <ul class="ul-reset colorSets">
              <li ng-click="showColorPicker($event, setColor)" ng-repeat="(key, setColor) in setColors">
                  <div class="editor-color" style="background-color:{{setColor.color}};"></div>
                  <div class="description">{{setColor.description}}</div>
                  <color-picker class="colorPickerContainer ng-hide" ng-class="{'colorPickerIsVisible' : colorPicker}" color-picker-swatch="false" ng-model="setColors[key].color" color-picker-format="'hex'" color-picker-on-change="changeColor($event, color, key)"></color-picker>
              </li>
          </ul>
      </v-page>
      <v-page>
          <div cm-collapse ng-if="emptyTpl">
              <h3 class="title-collapse" translate>Others stylesets</h3>
              <div class="collapse-content">
                  <cm-change-style-set></cm-change-style-set>
              </div>
          </div>
          <cm-edit-style-set cm-init-values="$root.arrayVarLess" cm-style-tpl="$root.styleToEdit"></cm-edit-style-set>
      </v-page>
    </v-pages>
</div>

</div>
</div>

<div id="editionWysiwyg"></div>

<button translate ng-if="showActionStack" class="btn x-small-btn actionStack icon-reply" ng-click="undo()">Undo</button>
