<div cm-collapse>
    <h3 class="title-collapse" translate>Layout</h3>
    <div class="collapse-content">
        <ul class="ul-reset advanced-list">
            <li>
                <label translate for="">Width</label>
                <cm-edit-style-set-range min-range="550" max-range="650" step-range="10" regexp="@email_width" init-value="initVarLess['@email_width']" ></cm-edit-style-set-range>
            </li>
            <li>
                <label translate for="">Containers padding</label>
                <cm-edit-style-set-range min-range="10" max-range="40" step-range="1" regexp="@block_padding" init-value="initVarLess['@block_padding']" ></cm-edit-style-set-range>
            </li>
            <li>
                <label translate for="">Inner containers padding</label>
                <cm-edit-style-set-range min-range="0" max-range="15" step-range="1" regexp="@inner_block_padding" init-value="initVarLess['@inner_block_padding']" ></cm-edit-style-set-range>
            </li>
            <li>
                <label translate for="">Containers alignment</label>
                <ul class="ul-reset toolbarButtons">
                    <li>
                        <button class="btn-toothwys btn-valign icon-valignTop" ng-class="{'active': isActiveVAlign === 'top'}" ng-click="verticalAlign($event, 'top')"></button>
                    </li>
                    <li>
                        <button class="btn-toothwys btn-valign icon-valignMiddle" ng-class="{'active': isActiveVAlign === 'middle'}" ng-click="verticalAlign($event, 'middle')"></button>
                    </li>
                    <li>
                        <button class="btn-toothwys btn-valign icon-valignBottom" ng-class="{'active': isActiveVAlign === 'bottom'}" ng-click="verticalAlign($event, 'bottom')"></button>
                    </li>
                </ul>
            </li>
            <li>
                <input id="showHeader" type="checkbox" ng-model="$root.header.showHeader" /><label for="showHeader" translate>show header</label>
            </li>
        </ul>
    </div>
</div>

<div cm-collapse>
    <h3 class="title-collapse" translate>Typography</h3>
    <div class="collapse-content">
        <ul class="ul-reset advanced-list">
            <li>
                <label translate for="">Font Family</label>
                <cm-edit-style-set-select regexp="@globalFontFamily" select-value="fontFamily" init-value="initVarLess['@globalFontFamily']" ></cm-edit-style-set-select>
            </li>
            <li>
                <label translate for="">Title 1</label>
                <cm-edit-style-set-range min-range="25" max-range="40" step-range="1" regexp="@globalH1FontSize" init-value="initVarLess['@globalH1FontSize']" ></cm-edit-style-set-range>
            </li>
            <li>
                <label translate for="">Title 2</label>
                <cm-edit-style-set-range min-range="20" max-range="30" step-range="1" regexp="@globalH2FontSize" init-value="initVarLess['@globalH2FontSize']" ></cm-edit-style-set-range>
            </li>
            <li>
                <label translate for="">Title 3</label>
                <cm-edit-style-set-range min-range="14" max-range="20" step-range="1" regexp="@globalH3FontSize" init-value="initVarLess['@globalH3FontSize']" ></cm-edit-style-set-range>
            </li>
            <li>
                <label translate for="">Other Titles</label>
                <cm-edit-style-set-range min-range="10" max-range="16" step-range="1" regexp="@globalHxFontSize" init-value="initVarLess['@globalHxFontSize']" ></cm-edit-style-set-range>
            </li>
            <li>
                <label translate for="">Text</label>
                <cm-edit-style-set-range min-range="10" max-range="16" step-range="1" regexp="@globalTextFontSize" init-value="initVarLess['@globalTextFontSize']" ></cm-edit-style-set-range>
            </li>
        </ul>
    </div>
</div>
<div cm-collapse ng-if="rangeTplStyle.length > 0">
    <h3 class="title-collapse" translate>Template Style</h3>
    <div class="collapse-content">
        <ul class="ul-reset advanced-list">
            <li ng-repeat="element in rangeTplStyle">
                <label for="">{{element.name}}</label>
                <cm-edit-style-set-range min-range="{{element.min}}" max-range="{{element.max}}" step-range="1" regexp="{{element.regexp}}" init-value="element.initValue" ></cm-edit-style-set-range>
            </li>
        </ul>
    </div>
</div>
