<div class="form-wysiwyg">
    <cm-wysiwyg-color-picker bg-color-model="headerBgColor" change-fct="changeBgColor($event, color)" text="textBgColor"></cm-wysiwyg-color-picker>
</div>
<div class="form-wysiwyg">
    <cm-wysiwyg-color-picker bg-color-model="headerLinkColor" change-fct="changeTextLinkColor($event, color)" text="textLinkColor"></cm-wysiwyg-color-picker>
</div>
<div class="form-wysiwyg">
    <cm-wysiwyg-color-picker bg-color-model="headerColor" change-fct="changeTextColor($event, color)" text="textColor"></cm-wysiwyg-color-picker>
</div>
<div class="form-wysiwyg" ng-if="!$root.header.reverseHeader">
    <label for="textHeader" translate>Text</label>
    <textarea id="textHeader" cols="30" rows="2" ng-model="$root.header.headerText">{{$root.headerText}}</textarea>
</div>
<div class="form-wysiwyg" ng-if="$root.header.reverseHeader">
    <label for="linkText" translate>Link Text</label>
    <textarea  id="linkText" cols="30" rows="2" ng-model="$root.header.headerLinkText">{{$root.headerLinkText}}</textarea>
</div>
<button class="btn x-small-btn reverse-btn icon-import-export" ng-click="$root.header.reverseHeader = !$root.header.reverseHeader"></button>
<div class="form-wysiwyg" ng-if="!$root.header.reverseHeader">
    <label for="linkText" translate>Link Text</label>
    <textarea  id="linkText" cols="30" rows="2" ng-model="$root.header.headerLinkText">{{$root.headerLinkText}}</textarea>
</div>
<div class="form-wysiwyg" ng-if="$root.header.reverseHeader">
    <label for="textHeader" translate>Text</label>
    <textarea id="textHeader" cols="30" rows="2" ng-model="$root.header.headerText">{{$root.headerText}}</textarea>
</div>
<div class="form-wysiwyg preHeaderText">
    <div class="help">?</div>
    <div translate class="wysiwygTooltip">Visible text in the pre-load of your email</div>
    <label for="linkText" translate>Preheader text</label>
    <textarea id="linkText" cols="30" rows="5" ng-model="$root.header.preHeaderText">{{$root.preHeaderText}}</textarea>
</div>
<div class="form-wysiwyg">
    <input id="checkbox_header" ng-change="hideHeaderToolbar()" type="checkbox" ng-model="$root.header.showHeader" /><label for="checkbox_header" class="checkbox_header_label" translate>show header</label>
</div>
