<div class="form-wysiwyg-button">
    <cm-wysiwyg-link init-text="button.text" callback="callback(html)" init-link="button.link" el="el"></cm-wysiwyg-link>
    <div class="form-wysiwyg">
        <label for="" translate>Background color</label>
        <div class="editor-color" style="background-color:{{button.bgColor}};"></div>
        <color-picker class="colorPickerContainer" color-picker-swatch="false" ng-model="button.bgColor" color-picker-format="'hex'" color-picker-on-change="changeBgColorButton($event, color, key)"></color-picker>
    </div>
    <div class="form-wysiwyg">
        <label for="" translate>Text color</label>
        <div class="editor-color" style="background-color:{{button.textColor}};"></div>
        <color-picker class="colorPickerContainer" color-picker-swatch="false" ng-model="button.textColor" color-picker-format="'hex'" color-picker-on-change="changeTextColorButton($event, color, key)"></color-picker>
    </div>
</div>
